.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

img {
    border: 3px solid white;
    transition: box-shadow .5s ease-in-out;
}

img:hover {
    box-shadow: 5px 10px 10px rgb(52, 50, 112);
}

form {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

form input[type="search"] {
    height: 45px;
    border: 2px solid grey;
    font-size: 12px;
    border-radius: 5px;
    padding-left: 1rem;
}

form input[type="search"]:active {
    border: 2px dashed green;
}

body {
    background-color: rgb(101, 101, 160);
}



@media (min-width: 768px) {
    form input[type="search"] {
       width: 60%
    }
}
